@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fix::before, .fix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    line-height: 22px;
}
main{
    display: grid;
    justify-content: center;
    margin: 0 auto;
}
.intro{
    display: grid;
    justify-content: center;
    margin: 50px;
    padding: 20px;
    background-color: #2DADA5;
    color: whitesmoke;
}
.intro h1{}
.choosing-games{
    width: 1440px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;


    gap: 20px;
}
.number-game{
    width: 547px;
    display: block;
    /*//float: left;*/
}
.number-game img, .word-game img{
    border: 2px solid red;
    border-radius: 8px;
    width: 400px;
    height: 267px;
    margin-bottom: 50px;
    -moz-box-shadow: 0 6px 5px #ccc;
    -webkit-box-shadow: 0 6px 5px #ccc;
    box-shadow: 0 6px 5px #ccc;
    transition: all .5s;
}

.number-game img:hover, .word-game img:hover{
    transform: scale(1.1);
}

.number-game h2 a, .word-game h2 a{
    text-decoration: none;
    padding: 20px;
    background-color: #8E35D4;
    color: whitesmoke;
    border-radius: 25px;
}
.number-game h2 a:hover, .word-game h2 a:hover{
    background-color: #2DADA5;
}
.word-game{
    width: 547px;
    display: block;
}

.word-guessing-btn{
    display: grid;
    margin-right: 47px;
    justify-content: right;
    padding-bottom: 20px;
}
/*Number game css*/
/*button{*/
/*    padding: 10px;*/
/*    background-color: #395DDB;*/
/*    color: whitesmoke;*/
/*    border-radius: 20px;*/
/*}*/
/*button:hover{*/
/*    background-color: #2DADA5;*/
/*    cursor: pointer;*/
/*}*/
/*button:disabled{*/
/*    background-color: black;*/

button{
    appearance: none;
    background-color: #2DADA5;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 40%;
    will-change: transform;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}




.word-guessing-btn a{
    text-decoration: none;
    color: whitesmoke;
}
.form-group{
    width: 1440px;
}
form{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;

    gap: 20px;
}
.pl-name{
    display: block;
    padding-bottom: 50px;
    font-size: 64px;
    font-family: 'Roboto Slab', sans-serif ;
}
.player-one{
    width: 560px;
}
.player-two{
    width: 560px;
}
input[type ="number"]{
    width: 500px;
    display: block;
    padding: 5px;
    border: 2px solid #8E35D4;
    border-radius: 20px;
    margin: 20px 20px 20px 0;
}
input[type ="submit"]{
    padding: 8px 30px 8px 30px;
    margin-right: 20px;
    background-color: #2DADA5;
    color: whitesmoke;
    font-size: large;
    border-radius: 14px;
}

input[type ="submit"]:hover{
    background-color: #8E35D4;
    cursor: pointer;
}

.winners-board{
    display: grid;
    justify-content: center;
    margin: 70px;
}
.winners-board h2{
    text-align: center;
    padding: 20px;
    background-color: #2DADA5;
    color: whitesmoke;
    margin-bottom: 20px;
    display: block;
}
.winners-list h1{
    font-size: 24px;
}
.winners-list span{
    color: red;
}
.info{
    width: 1000px;
    margin: 35px auto;
    display: grid;
    justify-content: center;
    /*align-content: center;*/
    grid-auto-flow: column;
    gap: 20px;

}
.score-board{
    width: 500px;
    border: 2px solid #8E35D4;
    margin-right: 50px;
}
.score-board h1{
    font-size: 24px;
    margin: 15px;
    color: black;
}
.rules{
    width: 500px;
    border: 2px solid #8E35D4;
}
.rules ul{
    margin-top: 5px;
    margin-left: 20px;
}
.rules ul li{

}